@font-face {
    font-family: "MostraNuova-Regular";
    src: url("../../fonts/MostraNuova-Regular.eot") format("embedded-opentype"), url("../../fonts/MostraNuova-Regular.svg") format("svg"), url("../../fonts/MostraNuova-Regular.ttf") format("truetype"), url("../../fonts/MostraNuova-Regular.eot") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "MostraNuova-Bold";
    src: url("../../fonts/MostraNuova-Bold.eot") format("embedded-opentype"), url("../../fonts/MostraNuova-Bold.svg") format("svg"), url("../../fonts/MostraNuova-Bold.ttf") format("truetype"), url("../../fonts/MostraNuova-Bold.eot") format("woff");
    font-weight: bold;
}

@font-face {
    font-family: "MostraNuova-Light";
    src: url("../../fonts/MostraNuova-Light.eot") format("embedded-opentype"), url("../../fonts/MostraNuova-Ligh.svg") format("svg"), url("../../fonts/MostraNuova-Light.ttf") format("truetype"), url("../../fonts/MostraNuova-Light.eot") format("woff");
    font-weight: lighter;
}

@font-face {
    font-family: "MyriadPro-It";
    src: url("../../fonts/MyriadPro-It.eot") format("embedded-opentype"), url("../../fonts/MyriadPro-It.svg") format("svg"), url("../../fonts/MyriadPro-It.ttf") format("truetype"), url("../../fonts/MyriadPro-It.eot") format("woff");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "MyriadPro-Light-It";
    src: url("../../fonts/MyriadPro-LightIt.eot") format("embedded-opentype"), url("../../fonts/MyriadPro-LightIt.svg") format("svg"), url("../../fonts/MyriadPro-LightIt.ttf") format("truetype"), url("../../fonts/MyriadPro-LightIt.eot") format("woff");
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: "MyriadPro-Light";
    src: url("../../fonts/MyriadPro-Light.eot") format("embedded-opentype"), url("../../fonts/MyriadPro-Light.svg") format("svg"), url("../../fonts/MyriadPro-Light.ttf") format("truetype"), url("../../fonts/MyriadPro-Light.eot") format("woff");
    font-weight: 100;
}

@font-face {
    font-family: "MyriadPro-Regular";
    src: url("../../fonts/MyriadPro-Regular.eot") format("embedded-opentype"), url("../../fonts/MyriadPro-Regular.svg") format("svg"), url("../../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../../fonts/MyriadPro-Regular.eot") format("woff");
    font-weight: normal;
}